<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myweb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    <div class="jumbotron">
        <h1 class="display-4">Mi primer pagina web con Go</h1>
        <p class="lead">Hola este grupo esta conformado por {{.Nombres}} y {{ .Nombres2}}  somos {{ .Habilidades}} de la
            carrera de Tecnologías de la Información, tenemos
            {{ .Edad}} y {{ .Edad2}} años,
            bienvenidos a mi nuestra pagina web</p>
        <hr class="my-4">
    </div>
</body>

</html>